<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">BlueShift Travel Technologies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-link"><%= link_to "Home", root_path %></li>
             <li class="nav-item nav-link"><%= link_to "About", about_path %></li>
             <li class="nav-item nav-link"><%= link_to "Solutions", solutions_path %></li>
             <li class="nav-item nav-link"><%= link_to "Industries", industries_path %></li>
             <li class="nav-item nav-link"><%= link_to "Career", career_path %></li>
             <li class="nav-item nav-link"><%= link_to "Contact", contact_path %></li>
             <li class="nav-item nav-link"><%= link_to "Blog", blogs_path %></li>
          </ul>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
          

    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <p>EMPOWERING LOCAL AND REGIONAL MARKETS TO EXPAND TOURISM WITH A ONE-STOP BOOKING SOLUTION FOR TRAVELERS.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Read More &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>What We Do</h2>
          </div>
          <hr>
          <div class="col-md-3">
            <h4>WHITE LABEL PLATFORM FOR PUBLIC AND PRIVATE ORGANIZATIONS</h4>
            <p>We provide the backend technology for your site. Quick and easy implementation without disruption to your brand. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h4>SINGLE PUSH BUTTON BOOKING SYSTEM</h4>
            <p>Simplicity is our passion. Our goal is to keep travelers on your site, providing all travel booking needs in one convenient place</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h4>OBILE-READY BOOKING TECHNOLOGIES</h4>
            <p>Our suite of products is 100% mobile-enabled given the knowledge that mobile ecommerce is estimated to grow dramatically during the coming years.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h4>ACCESS TO GLOBAL HOTEL INVENTORY</h4>
            <p>Our connection to the Global Distribution Systems providers allows travelers complete access to all lodging inventory. We also provide access to unique, independent hotels and vacation home rentals.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h3>About Us</h3>
            <p>BlueShift Travel Technologies provides a unique regional partnership approach to online travel booking. Our single push-button booking system is fast, convenient and easy to implement. We believe that local marketing groups possess and produce the key knowledge and expertise about their travel markets, including events and activities. We understand the importance of attracting travelers at the right time during the trip-planning process. We also know that the fees associated with traditional travel agents, tour operators and big online travel platforms can be overwhelming for your market’s travel entities, specifically smaller hoteliers.</p>

            <p>We developed BlueShift Travel Technologies to help fill the void.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-md-6">
            <h3>News</h3>
            <h4>How Implementing a Hotel Booking Engine Can Improve Customer Experience</h4>
            <p>Providing your customers with the best experience possible is perhaps the most important element of your online travel booking business. Is your software offering</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h3> </h3><br>
            <h4>Give Your Customers the Best Travel Booking Experience with These 3 Features</h4>
            <p>Working in the travel business, it’s important to keep things as simple as possible for your clients. At Blue Shift Travel Technologies, we pride</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
          </div>
        </div>
        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; BlueShift Travel Technologies 2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
